<header>
    <span class="siteName">
        <a href="/" title="Regresar a la pagina principal">Esperanza Church System</a>
    </span>
    <div id="tools">
        <a title="Click para logear">Mi cuenta</a>
    </div>
</header>