<nav>
    <ul>
        <li><a href="/" title="Ir a la pagina principal">Home</a></li>
        <li><a href="/attendance" title="Ir al manejador de Asistencia">Asistencias</a></li>
        <li><a href="/inventory" title="Ir al inventario del barrio">Inventario</a></li>
    </ul>
</nav>